<!DOCTYPE html>
<html>
    <head> 
        <title>BTS | Amazon</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">

    </head>

    <body>
        <header>
            <div id="logo">
                <h1 class="inline"> BTS | 
                    <img src="static/img/logo.jpg" style="width:15%;vertical-align: text-top;">
                </h1>
            </div>
            <a href='/sanitize' >
                <div id="container" style="margin-top: 60px;">
                    Sanitize
                </div>
            </a>
            <a href='/diff'>
                <div id="container" style="margin-top: 60px;">
                    Check diff
                </div>
            </a>
        </header>

    </body>
</html>